
/*Bloque 1*/

header
	{
	background: url("../img/img-home.png");
	width: 100%;
	height: 700px;
	background-size: 100% 100%;
}

nav ul{
	list-style-type: none;
	float: right;
	position: relative;
	margin-right: 80px;
}

nav ul li{
	display: inline-block;
	color: #989898;
	margin-top: 5%;
	margin-bottom: 30%
}

.botgri{
	color: white;
	background-color: #4d4545;
}

.logo{ /*Farolito*/
	float: right;
	margin-bottom: 20px;
	margin-right: 150px;
}

.pazul{
	float: right;
	margin-bottom: 10px;
	margin-right: 50px;
	font-size: 2em;
	color: #28c5e6;
}

.pgris{
	float: right;
	line-height: 1.5;
	font-size: 1em;
	margin-right: 100px;
	margin-top: 1px;
	color: #989898;
}

.botna{
	color: white;
	font-size: 1em;
	background-color: #ff6a49;
	width: 20%;
	height: 70px;
	float: right;
	margin-top: 0px;
	margin-right: 160px;
	padding: 10px;
}

/*Termina Bloque 1*/
/*Bloque 2*/

.metodologia{
	font-size: 1.5em;
	margin-bottom: 5%;
	color: #28c5e6;
}

.circulo{
	border-radius: 50%;
	width: 400px;
	height: 400px;
	display: block;
	margin-top: 5%;
	margin-bottom: 10%;
	margin-left: 450px;
	color: white;
	background-color: #ff6a49;
}

.borde{
	border-radius: 50%;
	border:5px white dashed;
	width: 350px;
	height: 350px;
	display: block;
	margin: auto;
	margin-top: 7%;
	padding-top: 15%;
	line-height: 1.5;
	font-size: 1;	
}
.botazu{ /*Boton VER MÃS*/
	background-color: #28c5e6;
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 200px;
	height: 70px;
	font-size: 1em;
}

/*Termina Bloque 2*/
/*Bloque 3*/

.anaranjado{
	color: #ff6a49;
} 

.postulantes{
	background-color: #28c5e6;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	color: white;
	line-height: 1.5;
}

.mt5{
	margin-top: 5%;
}	

.num{
	width: 100px;
	height: 100px;
}
.rabla{
	border-bottom: dashed 2px white;
	margin-top: 8%;
	padding-bottom: 5%;
}

/*Empresas*/

.contratatitulo{
	margin-top: 3px;
}

.rana{
	border-bottom: dashed 2px #ff6a49;
	padding-bottom:5%;
}
.botnar{
	color: white;
	font-size: 1em;
	background-color: #ff6a49;
	width: 15%;
	height: 50px;
	margin-top: 30px;
	margin-bottom: 30px;	
	padding: 10px;
}
/*Centro educativo*/

.educativo{
	background-color: #77d248;
	width: 100%;
	height: 100%;
	color: white;
}

/*Bloque 4*/

.raba{
	border-bottom: dashed 2px white;
	padding:5%;
}
.botbla{
	color: white;
	font-size: 1em;
	background-color: #77d248;
	width: 15%;
	height: 70px;
	margin-top: 0%;
	margin-bottom: 0%;	
	border:white solid;
}

/* Termina Bloque 4 */
/*lista de oportunidades*/
/*Bloque 5*/

.oportunidades{
	background:url("../img/img-03.png");
	width: 100%;
	height: 1200px;
	background-size: 100% 100%;
}

.razu{
	border-bottom: solid 2px #28c5e6;
	padding-bottom:3%;
	text-align: left;
	margin-left: 15%;
	margin-top: 3%;
}

.oferta{
	text-align: left;
	margin-left: 15%;
	color: #989898;
	line-height: 1.5;
}

.cuana{
	color: #ff6a49;
	width: 100px;
	height: 50px;
	border:solid #ff6a49;
	text-align: center;
	border-radius: 20%;
	padding: 0%;
	margin-top: 10%;
}

.ragris{
	border-bottom: dashed 1px #989898;
	margin-top: 5%;
	margin-bottom: 5%;
}

/*Termina Bloque 5-->
	/*blog*/
.cuama{
	width: 250px;
	height: 200px;
	background-color: #ffc200;
	color: white;
	display: block;
	margin: auto;
	padding-top: 10%;
	line-height: 1.5;
}	
.cuagri{
	width: 250px;
	height: 200px;
	background-color: #4d4545;
	color: #989898;
	display: block;
	margin: auto;
	padding-top: 10%;
	line-height: 1.5;
}
	/*Consulta*/
.consulta{
	background-color: #989898;
	width: 100%;
	height: 500px;
	color: #4d4545;
}	
input{
	width: 32%;
	height: 30px;
	display: block;
	margin: auto;
}
textarea{
	resize:none;
	display: block;
	margin: auto;
}
	/*footer*/
footer{
	background-color: #4d4545;
	color: #989898;
	width: 100%;
	padding-top: 2%;
}	
.redes{
	display: inline-block;
	position: relative;
	float: left;
	margin-left: 2%;
}

div{
	border:1px solid red;
	border-bottom: 1px solid red;
}